USE [master]
GO
/****** Object:  Database [StoreManagementDB]    Script Date: 2026/05/22 12:32:58 ******/
CREATE DATABASE [StoreManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StoreManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\StoreManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StoreManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\StoreManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StoreManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StoreManagementDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2026/05/22 12:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2026/05/22 12:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(200,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 2026/05/22 12:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(500,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2026/05/22 12:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(50,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 0) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ShippingAddress] [nvarchar](50) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2026/05/22 12:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1000,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[Description] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [CreatedDate], [IsActive]) VALUES (1, N'Electronics', N'Electronic devices and accessories', CAST(N'2026-05-17T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [CreatedDate], [IsActive]) VALUES (3, N'Clothing', N'Men and women clothing ', CAST(N'2025-11-25T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [CreatedDate], [IsActive]) VALUES (4, N'Food', N'Grocery and food items', CAST(N'2026-05-17T19:03:07.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [PhoneNumber], [Address], [CreatedDate]) VALUES (200, N'Sipho', N'Dlamini', N'siphodlamini@gmail.com', N'0821234567', N'6001 , Govan Ambeki ', CAST(N'2025-05-24T00:00:00.000' AS DateTime))
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [PhoneNumber], [Address], [CreatedDate]) VALUES (201, N'Ayanda', N'Nkosi', N'ayanda.nkosi@gmail.com', N'0839876543', N'6002, Rusell Road', CAST(N'2025-05-27T00:00:00.000' AS DateTime))
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [PhoneNumber], [Address], [CreatedDate]) VALUES (202, N'John ', N'Smith ', N'john@gmailcom', N'0715551111', N'Cape Town', CAST(N'2026-05-17T19:45:24.177' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (505, 59, 1000, 8, CAST(12999 AS Decimal(18, 0)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (509, 60, 1002, 6, CAST(1499 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount], [Status], [ShippingAddress]) VALUES (59, 200, CAST(N'2026-02-25T00:00:00.000' AS DateTime), CAST(14498 AS Decimal(18, 0)), N'Completed', N'12 main Road, Jahannesburg')
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount], [Status], [ShippingAddress]) VALUES (60, 201, CAST(N'2026-03-14T00:00:00.000' AS DateTime), CAST(2798 AS Decimal(18, 0)), N'Pending', N'14 Church Street, Cape Town')
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount], [Status], [ShippingAddress]) VALUES (61, 203, CAST(N'2026-05-17T19:52:22.000' AS DateTime), CAST(346 AS Decimal(18, 0)), N'Shiped', N'Cape Town')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [StockQuantity], [Description], [CreatedDate], [CategoryID]) VALUES (1000, N'Laptop 15', CAST(12999 AS Decimal(18, 0)), 8, N'High-performance', CAST(N'2025-04-24T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [StockQuantity], [Description], [CreatedDate], [CategoryID]) VALUES (1002, N'Wireless Earbuds', CAST(1499 AS Decimal(18, 0)), 6, N'Bluetooth 5.0 ', CAST(N'2026-03-14T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [StockQuantity], [Description], [CreatedDate], [CategoryID]) VALUES (1003, N'Tastic Rice 10kg', CAST(119 AS Decimal(18, 0)), 25, N'fresh food ', CAST(N'2026-05-17T19:15:50.647' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
USE [master]
GO
